<p>First Name: {{participants.firstName}}</p>
<p>Last Name: {{participant.lastName}}</p>
<p>Address: {{address}}</p>
<p>Email: {{email}}</p>

<a href="/catalog/participant/{{_id}}/delete">Delete Current Participant</a>
<a href="/catalog/participant/{{_id}}/update">Update Current Participant Details</a>
